header {
    background-color: gray;
    border: 5px chartreuse;
    width: 778px;
    height: 280px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}